<div class="container-fluid">
    <div class="row">
        <div class="mt-4 content-history">
            <div class="infor-pro">
                <div class="img-info d-flex justify-content-start">
                    <div class="col-md-2"><a href="#">
                        <img src="assets/img/BRU03651_1.jpg" height="110px" width="100px"
                                alt="" class="mt-2"></a></div>

                    <div class="info col-lg-6 col-md-8 mt-2">
                        <div class="name">NAME PRODUCT</div>
                        <div class="classify">Phân loại: </div>
                        <div class="amount">x1</div>
                    </div>
                    <div class="col-md-4 price">
                        <h6><span style="color: rgb(209, 204, 204); text-decoration: line-through; "
                                class="mr-1">1.000.000 đ</span></h6>
                        <h6><span style="color: red; ">500.000 đ</span></h6>
                    </div>
                </div>
            </div>
            <div class="sum-money">
                <div class="d-flex justify-content-end mr-3 mt-3 money">
                    <h6 class="title-money">Tổng số tiền:<span class="ml-2" style="color: red;">500.000 đ</span></h6>

                </div>
            </div>
            <div class=" manipulation ">
                <div class="d-flex justify-content-start col-md-6 col-lg-6 status-order">
                    <div class="title-status">
                        <h6 class="title">Đặt hàng thành công</h6>
                    </div>
                </div>
                <div class="d-flex justify-content-end col-md-6 col-lg-6  btn">
                    <button type="submit" value="Mua Lại" class="btn-repurchase">Mua Lại Lần Nữa</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="mt-4 content-history">
            <div class="infor-pro">
                <div class="img-info d-flex justify-content-start">
                    <div class="col-md-2"><a href="#">
                        <img src="assets/img/BRU03651_1.jpg" height="110px" width="100px"
                                alt="" class="mt-2"></a></div>

                    <div class="info col-lg-6 col-md-8 mt-2">
                        <div class="name">NAME PRODUCT</div>
                        <div class="classify">Phân loại: </div>
                        <div class="amount">x1</div>
                    </div>
                    <div class="col-md-4 price">
                        <h6><span style="color: rgb(209, 204, 204); text-decoration: line-through; "
                                class="mr-1">1.000.000 đ</span></h6>
                        <h6><span style="color: red; ">500.000 đ</span></h6>
                    </div>
                </div>
            </div>
            <div class="sum-money">
                <div class="d-flex justify-content-end mr-3 mt-3 money">
                    <h6 class="title-money">Tổng số tiền:<span class="ml-2" style="color: red;">500.000 đ</span></h6>

                </div>
            </div>
            <div class=" manipulation ">
                <div class="d-flex justify-content-start col-md-6 col-lg-6 status-order">
                    <div class="title-status">
                        <h6 class="title">Đặt hàng thành công</h6>
                    </div>
                </div>
                <div class="d-flex justify-content-end col-md-6 col-lg-6  btn">
                    <button type="submit" value="Mua Lại" class="btn-repurchase">Mua Lại Lần Nữa</button>
                </div>
            </div>

        </div>
    </div>
</div>