    <div class="container">
        <div class="row">
        <div class="col-12 col-sm-8 col-md-4 col-lg-4" *ngFor="let brand of allBrands">
            <div class="our-team">
            <div class="picture">
                <img class="img-fluid" style="width: 300px; height: 150px;" src="./../../../assets/brands_image/{{brand.thumbnail}}">
            </div>
            <ul class="social">
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            </ul>
            </div>
        </div>
        
    </div>

            <input type="text" #nameInput name="username"  required>
            <button type="submit" class="btn btn-primary"> 

