<div class="forgetPass fadeInDown">
    <div class="form-forgetPass">
        <div class="title-forgetPass">
            <h3>Quên mật khẩu</h3>
        </div>
        <form action="">
            <input type="text" class="input-forgetPass" name="forgetPass" placeholder="Nhập tài khoản của bạn" >
           <!-- <input type="submit" class="btn-forgetPass" value="Xác nhận"> -->
           <div class="btn-accept">
               <a href="resetPass.html" class="accept">Xác nhận</a>
           </div>
        </form>
    </div>        
</div>
