*{
    padding: 0px;
    margin: 0px;
}
.text{
    height: 50px;
    width: 100px;
    margin-left: 120px;
    .name-Store{
        font-weight: bold;
        font-size: 30px;
        font-family: initial;
        text-align: center;
    }
    .slogan{
        font-weight: bold;
        margin-top: 0px;
    }
}
.nav-custom{
    background:crimson ;
    font-weight: bold;
   li{
       margin-right: 40px;
       font-size: 20px;
       a{
           text-decoration: none;
           color: white;
           
       }
       a :hover{
           background-color: yellowgreen;
           color: black;

       }
   }
   
   
}