<div class="resetPass fadeInDown">
    <div class="form-resetPass">
        <div class="title-resetPass">
            <h3>Đổi mật khẩu mới</h3>
        </div>
        <form action="">
            <input type="password" class="input-pass" name="reset" placeholder="Nhập mật khẩu mới">
            <input type="password" class="input-passAgain" name="reset" placeholder="Nhập lại mật khẩu" >
            <input type="submit" class="btn-resetPass" value="Xác nhận">
        </form>
    </div>        
</div>
