
<app-title-box [title]="title" [thumbnail]="backgroundImage"> </app-title-box>
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <app-sidebar
                (onClickAge) = "clickAge($event)"
                (onClickSex) = "clickSex($event)"
                (onClickBrand) = "clickBrand($event)"
                (onClickSearch) = "clickSearch($event)"
                >
                </app-sidebar>
            </div>
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <app-product-sale-list
                [allSaleProducts] = "allSaleProducts"
                [saleProducts] = "saleProducts"
                [pagination] = "pagination"
                [sorters] = "sorters"
                [sortCheck] = "sortCheck"
                [visiblePagesNumber] = "visiblePagesNumber"
                (onChanged) = "changed($event)"
                (onFirstPage) = "firstPage()"
                (onLastPage) = "lastPage()"
                (onPreviousPage) = "previousPage()"
                (onNextPage) = "nextPage()"
                (onIndexPaginationChange) = "indexPaginationChange($event)"
                >
                </app-product-sale-list>
            </div>
        </div>
    </div>
</div>

