// login========================
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 140px;
}
#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid cornflowerblue;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0;
    text-align: center;
    .first{
        padding: 20px 0px;
    }
}
#formFooter {
    background: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-size: 15px;
    .underLineHover:hover {
        text-decoration: none;
    }
}
input[type="text"],
input[type="password"],
input[type="reset"] {
    background-color: #ffffff;
    border: none;
    color: rgb(17, 17, 17);
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 7px;
    margin: 5px 20px 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input[type="submit"] {
    background-color: #2783cf;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 7px;
    margin: 5px 20px 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input[type="text"]:focus {
    background: rgb(255, 254, 254);
    border: 2px solid #56baed;
    color: #000;
    outline: none;
}
input[type="password"]:focus {
    background: rgb(255, 254, 254);
    border: 2px solid #56baed;
    color: #000;
    outline: none;
}

input[type="text"]::placeholder {
    color: #cccccc;
}
input[type="password"]::placeholder {
    color: #cccccc;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, -100%);
        transform: translate3d(0, 0, -100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, -100%);
        transform: translate3d(0, 0, -100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
a{
    text-decoration: none;
}
button{
    border-radius: 5px;
    height: 30px;
    width: 100px;
    
}
button::after{
    content: "";
}