<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
           <h3>Đăng nhập</h3>
        </div>
        <form [formGroup]="profileForm" (ngSubmit) = "checkUser()">
            <div class="form-group">
                <input type="text" name="login" id="login" class="fadeIn second" placeholder="Nhập tài khoản" formControlName="username">
            </div>
            <div class="form-group">
                <input type="password" name="login" id="password" class="fadeIn third" placeholder="Nhập mật khẩu"
                    formControlName="password">
            </div>

            <div *ngIf="vm.mess != ''">
                <div class="alert alert-danger" role="alert">
                    {{vm.mess}}
                  </div>
            </div>

            <button type="submit" class="fadeIn fourth" value="Đăng nhập">Đăng nhập</button>
        </form>
        <div id="formFooter">
            <a href="/forget-pass" class="underLineHover">Quên mật khẩu ?</a>
        </div>
    </div>
</div>
