<div class="row my-5">
  <div class="col-lg-6 col-sm-6">
      <div class="coupon-box">
          <div class="input-group input-group-sm">
              <input [(ngModel)]="couponCode" class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code"
                type="text">
              <div class="input-group-append">
                  <p>{{couponCode}}</p>
                  <button class="btn btn-theme" type="button" (click)="applyCoupon()">Apply Coupon</button>
              </div>
          </div>
      </div>
  </div>
</div>
