
<div class="right-product-box" style="margin-top: 10px">
    <div class="product-item-filter row">
        <div class="col-12 col-sm-12 text-center text-sm-left">
            <div class="toolbar-sorter-right">
                <select #select class="selectpicker show-tick form-control" (change) = "changed(select)">
                    <option *ngFor="let i of sorters">{{i.value}}</option>
                </select>
            </div>
              <p>Tổng cộng có {{allSaleProducts.length}} sản phẩm</p>
        </div>
   <!--      <button #hightToLow value="{priceToBuy,esc}" (click) = "getSaleProductsSorted(hightToLow)">High Price → Low Price> </button> -->
    </div>

    <div class="row product-categorie-box">
        <div class="tab-content">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let saleProduct of saleProducts">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                              <div class="type-lb-discountPercent">
                                <p class="discountPercent">{{saleProduct.discountPercent}}%</p>
                            </div>
                                <div class="type-lb">
                                    <p class="sale">Sale</p>
                                </div>
                                <img src="./../../../assets/Image/SaleProduct-Image/{{saleProduct.thumbnail}}" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" (click) = "addToCart(saleProduct)">Add to Cart</a>

                                </div>
                            </div>
                            <div class="why-text">
                                <h4>{{saleProduct.name}}</h4>
                                <h5>SKU: {{saleProduct.SKU}}</h5>
                                <div class="price-box">
                                    <span class="priceToBuy">{{saleProduct.priceToBuy | currency: "VND"}}</span>
                                    <span class="basePrice">{{saleProduct.priceUnit | currency: "VND"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="pagination justify-content-center">

                            <span *ngIf="pagination.indexPagination == 1; then trueFirstPage; else falseFirstPage"></span>
                            <ng-template #trueFirstPage>
                                <li class="page-item disabled">
                                    <a class="page-link">Trang đầu</a>

                                   <!--  <button (click) = "myClick(sorter.sortBy,sorter.orderBy)"></button> -->
                                   <!--  disabled : init attribute of HTML tag gọi từ controller
                                dưới controller sẽ có : disabled = "false": : property;
                                    <input [disable] = "condition" > -> vào controller lấy disable property set lại bằng controller của product-sale-list(ts)   -->
                                </li>
                            </ng-template >
                            <ng-template #falseFirstPage>
                            <li class="page-item" (click)="firstPage()">
                                <a class="page-link">Trang đầu</a>
                            </li>
                            </ng-template>


                        <span *ngIf="pagination.indexPagination == 1; then trueCondition; else falseCondition"></span>
                        <ng-template #trueCondition>
                            <li class="page-item disabled" (click)="previousPage()">
                                <a class="page-link">Trang trước</a>

                               <!--  <button (click) = "myClick(sorter.sortBy,sorter.orderBy)"></button> -->
                               <!--  disabled : init attribute of HTML tag gọi từ controller
                            dưới controller sẽ có : disabled = "false": : property;
                                <input [disable] = "condition" > -> vào controller lấy disable property set lại bằng controller của product-sale-list(ts)   -->
                            </li>
                        </ng-template>
                        <ng-template #falseCondition>
                        <li class="page-item" (click)="previousPage()">
                            <a class="page-link">Trang trước</a>
                        </li>
                        </ng-template>


                        <li class="page-item" *ngFor="let index of visiblePagesNumber">
                            <span *ngIf="pagination.indexPagination == index; then trueCondition1; else falseCondition1"></span>
                            <ng-template #trueCondition1>
                                <li class="page-item disabled">
                                    <a style="color: #337ab7; background-color: #ebebeb" (click)="indexPaginationChange(index)" class="page-link" >{{index}}</a>
                                </li>
                            </ng-template>
                            <ng-template #falseCondition1>
                                <li class="page-item">
                                    <a style="color: #337ab7;" (click)="indexPaginationChange(index)" class="page-link" >{{index}}</a>
                                </li>
                            </ng-template>
                        </li>




                        <li class="page-item" (click)= "nextPage()">
                            <a class="page-link" style="width: 107.3px; height: 37.6px; text-align: center;" >Trang kế</a>
                        </li>
                        <span *ngIf="pagination.indexPagination == pagination.visiblePage; then trueLastPage; else falseLastPage"></span>
                        <ng-template #trueLastPage>
                            <li class="page-item disabled">
                                <a class="page-link">Trang cuối</a>

                               <!--  <button (click) = "myClick(sorter.sortBy,sorter.orderBy)"></button> -->
                               <!--  disabled : init attribute of HTML tag gọi từ controller
                            dưới controller sẽ có : disabled = "false": : property;
                                <input [disable] = "condition" > -> vào controller lấy disable property set lại bằng controller của product-sale-list(ts)   -->
                            </li>
                        </ng-template>
                        <ng-template #falseLastPage>
                        <li class="page-item" (click)="lastPage()">
                            <a class="page-link">Trang cuối</a>
                        </li>
                        </ng-template>

                        </ul>
                    </div>
                    <!-- (onFistPage) = "fistPage()"
                    (onNextPage) = "nextPage()"
                    (onIndexPaginationChange) = "indexPaginationChange($event)" -->
                </div>
        </div>
    </div>

</div>
