<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Thông tin khách hàng</h3>
      <form>
        <!-- Tên & Sđt -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Họ tên</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Họ và tên">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Số điện thoại</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Số điện thoại">
            </div>
          </div>
        </div>
        <!-- End: Tên & Sđt -->

        <!-- Email -->
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
          </div>
        </div>
        <!-- End Email -->

        <!-- Địa chỉ -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Địa chỉ</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Vui lòng nhập địa chỉ của bạn"></textarea>
            </div>
          </div>
        </div>
        <!-- End địa chỉ -->
      </form>
    </div>
  </div>

  <h3>Danh sách sản phẩm</h3>
  <div class="row">
    <div class="col-sm-12">
      <div class="row" style="text-align: center;">
        <div class="col-lg-2"><label>Ảnh sản phẩm</label></div>
        <div class="col-lg-2"><label>Tên sản phẩm</label></div>
        <div class="col-lg-2"><label>Đơn giá</label></div>
        <div class="col-lg-2"><label>Giảm giá (%)</label></div>
        <div class="col-lg-2"><label>Số lượng</label></div>
        <div class="col-lg-2"><label>Tổng</label></div>
      </div>
      <ng-container *ngIf="orders$ != null"></ng-container>
      <div class="row" *ngFor="let order of orders$ | async" style="text-align: center;">
        <div class="col-lg-2">
          <img class="img-fluid" src="../../../assets/Image/SaleProduct-Image/{{order?.thumbnail}}" alt="" />
        </div>
        <div class="col-lg-2"><h6>{{order?.productName}}</h6></div>
        <div class="col-lg-2">{{order?.priceUnit  | currency: "VND"}}</div>
        <div class="col-lg-2">{{order?.discountPercent}}%</div>
        <div class="col-lg-2">{{order?.quantity}}</div>
        <div class="col-lg-2">{{order?.totalPrice | currency: "VND"}}</div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-lg-8"></div>
          <div class="col-lg-4">
            <button style="width: 300px; background-color: crimson" type="button" class="btn btn-secondary btn-lg">Thanh toán</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
