<tr class="row" style="margin-left: -1px;">
  <th class="col-2">
    <a href="#">
      <img class="img-fluid" src="../../../assets/Image/SaleProduct-Image/{{pendingOrder?.thumbnail}}" alt="" />
    </a>
  </th>
  <th class="col-2">
    <p href="#">{{pendingOrder?.productName}}</p>
  </th>
  <th class="col-2">
    <p>{{pendingOrder?.priceUnit | currency: "VND"}}</p>
  </th>
  <th class="col-1">
    <p>{{pendingOrder?.discountPercent}}%</p>
  </th>
  <th class="col-2 ">
    <div class="quantity-box">
      <input type="number" maxlength="4" size="4" value="{{pendingOrder?.quantity}}" min="0" step="1">
    </div>
  </th>
  <th class="col-2">
    <p>{{totalPrice | currency: "VND"}}</p>
  </th>
  <th class="col-1">
    <a href="#" style="margin-left: 5px;">
      <i style="color: black" class="fas fa-times"></i>
    </a>
  </th>
</tr>
